body {
    max-width: 1000px;
    width: 100%;
    background: #FFFFFF;
    margin: 0 0 0 0;
}

.nomePrincipal {
    position: absolute;
    width: 1463px;
    height: 55px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
}

.nomePrincipal p {
    position: absolute;
    width: 80px;
    height: 27px;
    left: 692px;
    top: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;

    color: #212529;
}

.filtersContainer {
    display: flex;
    flex-direction: row;
}

.mostrarTodos {
    box-sizing: border-box;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 26px;
    gap: 10px;

    position: absolute;
    width: 177px;
    height: 52px;
    left: 146px;
    top: 94px;

    color: white;
    background: #12B886;
    border: 1.5px solid #12B886;
    border-radius: 8px;
}

.mostrarTodos:hover {
    background: rgba(18, 184, 134, 0.05);
    color: #12B886;
    border: 2px solid;
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

.filtrarHortifruti {
    box-sizing: border-box;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 26px;
    gap: 10px;

    position: absolute;
    width: 122px;
    height: 52px;
    left: 335px;
    top: 94px;

    color: #12B886;;
    background: rgba(18, 184, 134, 0.05);
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    border-radius: 8px;
}
.filtrarHortifruti:hover {
    background: #12B886;
    color: white;
    border: 2px solid;
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

.filtrarPanificadora {
    box-sizing: border-box;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 26px;
    gap: 10px;

    position: absolute;
    width: 122px;
    height: 52px;
    left: 486px;
    top: 94px;

    color: #12B886;;
    background: rgba(18, 184, 134, 0.05);
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    border-radius: 8px;
}

.filtrarPanificadora:hover {
    background: #12B886;
    color: white;
    border: 2px solid;
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

.filtrarLaticinios {
    box-sizing: border-box;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 26px;
    gap: 10px;

    position: absolute;
    width: 122px;
    height: 52px;
    left: 647px;
    top: 94px;

    color: #12B886;
    background: rgba(18, 184, 134, 0.05);
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    border-radius: 8px;
}

.filtrarLaticinios:hover {
    background: #12B886;
    color: white;
    border: 2px solid;
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

input {
    position: absolute;
    width: 260px;
    height: 38px;
    left: 925px;
    top: 94px;

    background: #F1F3F5;
    border-radius: 8px;
}

.botaoBuscaPorNome {
    box-sizing: border-box;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 26px;
    gap: 10px;

    position: absolute;
    width: 59px;
    height: 44px;
    left: 1199px;
    top: 94px;

    background: #12B886;
    border: 1.5px solid #12B886;
    border-radius: 8px;
}

.botaoBuscaPorNome  image {
    position: absolute;
    left: 12.5%;
    right: 20.83%;
    top: 12.5%;
    bottom: 20.83%;

    border: 1.58333px solid #FFFFFF;
}

.containerPrecoTotal {
    box-sizing: border-box;

    position: absolute;
    width: 1171px;
    height: 56px;
    left: 146px;
    top: 190px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.containerPrecoTotal p {
    position: unset;
    width: 135px;
    height: 21px;
    left: 207px;
    top: 208px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    padding: 0 0 0 0;

    color: #212529;
}

.containerPrecoTotal span {
    position: absolute;
    width: 65px;
    height: 33px;
    left: 1067px;
    right: 0px;
    top: 10px;
    border-radius: 5px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    padding: 0 0 0 0;
    
    background-color: black;
    color: white
}

main {
    display: flex;
    margin: 1px -317px 5px 143px;
    flex-direction: row;
    justify-content: space-around;

}

.containerListaProdutos ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 270px 0 0 0;
}

.containerListaProdutos ul li{
    margin: 8px 20px 0 0;
    border-radius: 10px;
}

.containerListaProdutos ul li:hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

li img {
    width: 300px;
    height: 190px;
    left: 146px;
    top: 300px;
    border-radius: 8px;
}


